{% extends 'base.html' %}


{% block title %}
    Crear nueva entrada
{% endblock title %}
    

{% block content %}

{% include 'header.html' %}

<div class="grid-content">
    <div class="grid-x align-center">
        <h1 class="cell large-5">Agregar una publicación</h1>
        <form action="" class="cell large-8" method="POST"> {% csrf_token %}

            <div class="cell large-4">
                {{form}}
            </div>
        <div class="cell">
            <input type="submit"  class="button success" value="Comentar">
        </div>

        </form>
    </div>
</div>

{% endblock content %}
    
