{% extends 'base.html' %}



{% block blockname %}
    Eliminar Entrada
{% endblock blockname %}


{% block content %}
{% include 'header.html' %}

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Eliminar Entrada</h1>
        <form  class= "cell" action="" method="post"> {% csrf_token %}
            
            <div class="callout secondary">
                <h5>Desea eliminar esta entrada: </h5>
                <p>{{object.titulo}} {{object.autor}}</p>
            </div>

            <input  class="button alert" type="submit" value="Eliminar">
            
        </form>
    </div>
</div>

{% endblock content %}

