{% extends 'base.html' %}


{% block title %}
    Editar Entrada
{% endblock title %}


{% block content %}
{% include 'header.html' %}

<div class="grid-content">
    <div class="grid-x align-center">
        <h1 class="cell large-8">Editar entrada</h1>
        <form  class= "cell large-8" action="" method="POST"> {% csrf_token %}
            {{form.as_p}}
            <input  class="button primary" type="submit" value="Actualizar">
        </form>
    </div>
</div>

{% endblock content %}
    
    