{% extends 'base.html' %}
{% load static%}


{% block title %}
    Inicio
{% endblock title %}


{% block content %}
<div class="top-bar">
    <div class="top-bar-right">
      <ul class="menu">
        <li><a class="button warning" href="{% url 'App1_app:Nueva-Entrada' %}">Registrar</a></li>
      </ul>
    </div>
</div>

<div class="grid-x align-center">
    <div class="cell">
        <div class="content-card">
            
                {% for e in entradas %}
                <div class="widgets">
                    <div class="text_card">
                        <p class="autor_card ">{{e.autor}}<p>
                        <p class="titulo_card">{{e.titulo}}</p>
                        <p class="cuerpo_card">{{e.cuerpo}}</p>
                    </div>
                    <div class="button_card">
                        <div class="group_button">
                            <a class="button secondary" href="{% url 'App1_app:Ver-Entrada' e.id %}">Ver</a>
                            <a class="button secondary" href="{% url 'App1_app:Editar-Entrada' e.id %}">Editar </a>
                            <a class="button secondary" href="{% url 'App1_app:Eliminar-Entrada' e.id %}">Eliminar</a>
                        </div>
                        
                        <!-- <div class="boton_card" ><a href="">Ver Publicacion</a></div>
                        <div class="boton_card" ><a href="">Editar</a></div>
                        <div class="boton_card" ><a href="">Eliminar</a></div> -->
                    </div>  
                    
                </div>
                {% endfor %}
            
        </div>
    </div>
</div>



{% endblock content %}
    
    