{% extends 'base.html' %}



{% block title %}
    Ver entrada
{% endblock title %}


{% block content %}
{% include 'header.html' %}

<div class="grid-content">
    <div class="grid-x align-center">
        <h3 class="cell large-8">
            <i>{{entradas.autor}} -  </i> <b>{{entradas.titulo}} </b>
        </h3>
        <div class="cell large-8">
            {{entradas.cuerpo}}
        </div>
    </div>
    <hr>
    <div class="grid-x align-center">
        <h3 class="cell large-8" >Comentarios</h3>
        <div class="cell large-8">
            {% for e in comentarios %}
                <hr class="solid">
               <p><b>{{e.c_autor}}</b> </p> 
                <p>{{e.c_cuerpo}}</p>


                
            {% endfor %}
        </div>
    </div>
    <hr>
    <div class="grid-x align-center">
        <h4 class="cell large-8"> Agregar un comentario</h4>     
            <form action="" method="post" class="cell large-8"> {% csrf_token %}
                {{form.c_autor}}
                <label > Escribe tu comentario</label>
                {{form.c_cuerpo}}
                

                <input type="submit"  class="button success" value="Comentar">
                <button type="reset" class="button secondary" >Limpiar</button>
            </form>
    </div>

</div>


{% endblock content %}
    
    