{% load static%}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <title> {% block title %} {% endblock title  %} </title>
</head>
<body>
    {% block content %} 
    
    {% endblock content  %} 

    <script  src = "{% static 'js/vendor/jquery.js' %}"src=""></script>
    <script src="{% static 'js/vendor/what-input.js' %}"></script>
    <script src="{% static 'js/vendor/foundation.min.js' %}    "></script>
    <script>
        $(document).foundation();
      </script>
</body>
</html>