{% load static%}

<div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li><a class="button warning" href="{% url 'App1_app:inicio' %}">Inicio</a></li>
      </ul>
    </div>
  </div>