.content-card{
    width: 100%;
}

.barra{
    height: 150px;
    background: white;
}

.menu_header{
    position: relative;
    top:40px;
    left: -60px;
}

.boton_header{
    display: none;
}


.widgets{
    display:inline-flex;
    position: relative;
    left: 25%;
    width: 70%;
    height: 200px;
    margin: 15px 0px;
    border:1px solid black;
    
    
}
.text_card{
    margin-top: 10px;
    margin-left: 5%;
    width: 80%;
    
    
}

.autor_card{
    font-style: bold;
    font-size: 30px;
    color: black;
    font-weight:300;
}

.titulo_card{
    font-style: bold;
    font-size: 30px;
    color: black;
    font-weight:bolder;
}

.cuerpo_card{
    font-family: serif;
    font-style: italic;
    height: 50px;
    
    text-align: left;
    
    overflow:hidden;
    
    

}
.group_button{
    width: 100%;
    position: relative;
    text-align: center;
    padding: 10px;
}
.button_card{
   
    display:block;
    margin-top: 10px;
    width: 15%;
    
}

